* {
    margin: 0;
    padding: 0;
}

.slide {
    height: 100vh;
}

.slide_welcome {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide_welcome h1 {
    font-size: 4em;
}

.slide_welcome h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.slide_welcome h5 {
    font-size: 2em;
    margin-bottom: 20px;
}

.slide_member {
    background-color: #000000;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgba(0, 0, 0, 0.788);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    width: 40px;
    height: 40px;
}

nav a{
    font-size: 1.7rem;
    color: white;
    margin-left: 4rem;
    transition: .3s;
}

section {
    min-height: 100vh;
    padding: 12rem 9% 2rem;
}